name: Run linter test on Push
on:
    push:
        branches:
        - master
jobs: 
    run-linter-and-test:
        runs-on: ubuntu-latest
        
        steps:

            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Dependencies
              run: npm i

            - name: Lint Code
              run: npm run lint

            - name: Run Tests
              run: npm test

